html {
  font-family: Arial, Helvetica, Sans, Sans-Serif, Sans Serif; }

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: #fff;
  color: #000;
  background-attachment: fixed; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Fonts */
@font-face {
  font-family: 'Linearicons-Free';
  src: url("../fonts/Linearicons-Free.eot");
  src: url("../fonts/Linearicons-Free.eot") format("embedded-opentype"), url("../fonts/Linearicons-Free.woff2") format("woff2"), url("../fonts/Linearicons-Free.woff") format("woff"), url("../fonts/Linearicons-Free.ttf") format("truetype"), url("../fonts/Linearicons-Free.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  font-family: 'Linearicons-Free';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* Common */
h1,
h2 {
  display: block;
  width: auto;
  font-weight: bold;
  text-align: left;
  margin: 0; }

h1 {
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #37454d; }

h2 {
  font-size: 19px;
  line-height: 19px;
  color: #333; }

ul {
  list-style: none outside none;
  color: #333; }

ul,
ol,
dl {
  list-style-position: outside; }

a {
  color: #0088cc;
  text-decoration: none !important; }

a:active,
a:visited {
  /*color: #79bd43;*/ }

p {
  color: #333; }

img {
  vertical-align: middle; }

section {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #333; }

input,
select {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

/* Table */
table {
  width: 100%;
  max-width: 100%;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px; }
  table tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit; }
    table tr:nth-child(even) {
      background-color: #fafafa; }
    table tr:hover, table tr:nth-child(even):hover {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
      background-color: #79bd43; }
  table.data-tbl th, table.data-tbl td {
    padding: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #a7a7a7;
    color: #333; }
    table.data-tbl th:first-child, table.data-tbl th:nth-child(2), table.data-tbl td:first-child, table.data-tbl td:nth-child(2) {
      width: 30%; }
    table.data-tbl th:nth-child(3), table.data-tbl th:nth-child(3), table.data-tbl td:nth-child(3), table.data-tbl td:nth-child(3) {
      width: 40%; }
  table tfoot {
    display: none; }

.btn {
  display: inline-block;
  height: auto;
  padding: 14px 16px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 700;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #bbbbbb;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); }

.btn-primary {
  width: 100%;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #4c7b00;
  background-image: -moz-linear-gradient(top, #66a400, #4c7b00);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66a400), to(#4c7b00));
  background-image: -webkit-linear-gradient(top, #66a400, #4c7b00);
  background-image: -o-linear-gradient(top, #66a400, #4c7b00);
  background-image: linear-gradient(to bottom, #66a400, #4c7b00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #66a400 #66a400 #4c7b00;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

/* Menu */
.nav-bar {
  display: none; }

nav ul li a:hover,
nav ul li .children li:hover,
.nav-bar a:hover {
  background-color: #79bd43; }

nav {
  float: right;
  display: block;
  overflow: visible;
  background: #fff;
  z-index: 1000;
  width: 33%;
  margin: auto; }
  nav:after {
    content: "";
    display: block;
    clear: both; }
  nav ul {
    display: block;
    height: 59px;
    overflow: visible;
    list-style: none;
    z-index: 100; }
    nav ul li {
      float: right;
      position: relative;
      height: 100%;
      border-left: 1px solid #cdd0d2; }
      nav ul li a {
        height: 100%;
        color: #000;
        display: block;
        padding: 20px;
        text-decoration: none;
        font-size: 14px; }
      nav ul li:hover .children {
        display: block; }
      nav ul li .children {
        position: absolute;
        display: none;
        width: 100%;
        height: auto;
        background: #fff;
        border: 1px solid #cdd0d2;
        z-index: 1000; }
        nav ul li .children span {
          display: none; }
        nav ul li .children li {
          display: block;
          width: 100%;
          border-left: 0;
          background-color: #fff;
          color: #000;
          border-top: 1px solid #cdd0d2; }
          nav ul li .children li:first-child {
            border: 0; }
      nav ul li.sub-menu a .icon:after {
        content: "\e874";
        margin: 0 0 0 8px;
        font-size: 12px; }

/*pagination */
.pagination {
  height: 40px;
  margin: 40px 0 25px; }
  .pagination ul {
    display: inline-block;
    margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); }
    .pagination ul li {
      float: left;
      display: inline-block;
      line-height: 20px;
      height: auto;
      overflow: hidden;
      width: auto; }
      .pagination ul li.disabled a {
        cursor: default;
        color: #999;
        background-color: #f5f5f5; }
      .pagination ul li a {
        color: #0088cc; }
      .pagination ul li a,
      .pagination ul li span {
        float: left;
        padding: 0 14px;
        font-size: 14px;
        line-height: 38px;
        text-decoration: none;
        background-color: #fff;
        border: 1px solid #a7a7a7;
        border-left-width: 0; }
      .pagination ul li:first-child a, .pagination ul li:first-child span {
        border-left-width: 1px;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px; }
      .pagination ul li:last-child a, .pagination ul li:last-child span {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0; }
    .pagination ul.pagination {
      margin: 0 auto; }
    .pagination ul .active a, .pagination ul .active span {
      cursor: default;
      color: #999;
      background-color: #f5f5f5; }
  .pagination .ng-isolate-scope {
    margin: 0 auto;
    text-align: center; }

/* Homepage */
/* Page Content */
.section, .section-holder, .pagination .ng-isolate-scope, .container,
.main-container, .subheader-section, .col-holder, .col3 img, .col3 .txt-container, .col3 .col-bottom-txt, footer, .page-holder {
  display: block;
  width: 100%;
  height: auto; }

.section-holder, .pagination .ng-isolate-scope, .container,
.main-container, .subheader-section, .col-holder, .col3 img, .col3 .txt-container, .col3 .col-bottom-txt, footer {
  overflow: hidden; }

.page-holder {
  position: relative;
  padding: 0px;
  background-color: #fff;
  color: #000;
  z-index: 0; }

.container,
.main-container {
  margin: 0 auto; }

.container {
  padding: 25px; }

.shadow {
  -webkit-box-shadow: 3px 3px 6px 0px rgba(167, 167, 167, 0.57);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 6px 0px rgba(167, 167, 167, 0.57);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 6px 0px rgba(167, 167, 167, 0.57);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.shadow-all, .col3:hover {
  -webkit-box-shadow: 0 0 15px rgba(167, 167, 167, 0.57);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0 0 15px rgba(167, 167, 167, 0.57);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0 0 15px rgba(167, 167, 167, 0.57);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

/* Header */
header {
  position: relative;
  display: block;
  max-width: 1024px;
  width: 100%;
  height: 71px;
  margin: 0 auto;
  padding: 0 25px; }

/* logo */
.logo {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 140px;
  height: 37px;
  margin: 17px 0px; }
  .logo img {
    width: 140px;
    height: 37px;
    margin: 0 auto; }

/* Subheader */
.subheader-section {
  position: relative;
  background-image: url(../images/old-couple.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  padding: 0; }
  .subheader-section h1 {
    padding: 15px 0;
    color: #333; }

/* Main Section */
.main-container {
  padding: 10px; }

.spinner-icon {
  text-align: center; }
  .spinner-icon .fa {
    width: 50px;
    margin: 150px auto;
    font-size: 28px; }

.col-holder {
  border: 1px solid #ddd;
  min-height: 360px; }

.col3 {
  position: relative;
  display: inline-block;
  float: left;
  width: 33.33%;
  height: auto;
  padding: 15px;
  overflow: hidden;
  text-align: left;
  box-sizing: border-box; }
  .col3 .imgTxt {
    position: absolute;
    display: block;
    top: 30px;
    left: 30px;
    width: auto;
    height: auto;
    font-size: 14px;
    line-height: 14px;
    padding: 8px;
    border-radius: 2px;
    background-color: #fff;
    color: #a7a7a7; }
  .col3 img {
    position: relative;
    /*max-width: 304px;*/ }
  .col3 .txt-container {
    padding: 25px; }
  .col3 .col-heading {
    font-size: 14px;
    line-height: 18px; }
  .col3 .col-subHeading {
    display: block;
    font-size: 12px;
    line-height: 16px;
    margin: 10px 0 30px 0;
    color: #a7a7a7; }
  .col3 .col-top-txt {
    min-height: 98px; }
  .col3 .col-bottom-txt {
    padding-top: 8px; }
    .col3 .col-bottom-txt p {
      display: inline-block;
      float: left;
      width: auto;
      height: auto;
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      padding-right: 5px; }
      .col3 .col-bottom-txt p:last-child {
        padding-right: 0; }
      .col3 .col-bottom-txt p i {
        display: inline-block;
        padding: 0 5px; }
      .col3 .col-bottom-txt p.details, .col3 .col-bottom-txt p span {
        float: right;
        font-weight: normal;
        color: #6a6a6a; }
    .col3 .col-bottom-txt sup {
      vertical-align: top;
      position: relative;
      top: -0.5em; }

/* Footer */
footer {
  margin: 0 auto;
  padding: 0;
  background-color: #222; }
  footer hr {
    width: 100px;
    text-align: center;
    color: #999999;
    border: 1px solid #999999;
    margin: 20px auto; }
  footer p {
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 11px;
    color: #999999;
    padding: 20px 0; }

/*# sourceMappingURL=main.css.map */
